@import "../../../../../theme/colors.scss";

.pagination {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.pagination--icon {
  width: 60px;
  height: 60px;
  cursor: pointer;

  path {
    fill: $red;
    transition: all 0.3s ease-in-out;
  }

  &:hover path {
    fill: $darkRed;
  }
}

.pagination--icon.disabled {
  path {
    fill: $gray;
  }
}
