@import "../../../../theme/colors";

.status-controller {
  position: relative;
  min-height: 100vh;
}

.no-data {
  display: flex;
  flex-direction: column;
}

.empty-icon {
  width: 60px;
  height: 60px;

  path {
    fill: $red;
  }
}
